---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <BaseHead title={"Home"} description={"Home page"} />
        <style>
            main {
                width: calc(100% - 2em);
                max-width: 100%;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <h1>Home</h1>
        </main>
        <Footer />
    </body>
</html>
